################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ASP.NetCoreMVC_01/.vs/ASP.NetCoreMVC_01
/ASP.NetCoreMVC_01/bin/Debug/net5.0
/ASP.NetCoreMVC_01/obj
